In [12]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [13]:
data = pd.read_csv("zip07_cbsa06.txt", sep = ",", dtype="str")

In [14]:
data[:5]

,ZIP5,ZIP4,ZIP9,STATE CODE,STATE,COUNTY CODE,COUNTY NAME,CBSA CODE,CBSA TITLE,CBSA LSAD,METRO DIVISION CODE,METRO DIVISION TITLE,METRO DIVISION LSAD,CSA CODE,CSA TITLE,CSA LSAD
0,04841,NaN,04841,23,ME,013,Knox County,40500,"Rockland, ME",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN,NaN
1,04843,NaN,04843,23,ME,013,Knox County,40500,"Rockland, ME",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN,NaN
2,04846,NaN,04846,23,ME,013,Knox County,40500,"Rockland, ME",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN,NaN
3,04847,NaN,04847,23,ME,013,Knox County,40500,"Rockland, ME",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN,NaN
4,04848,NaN,04848,23,ME,027,Waldo County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
newdata = data[['ZIP5', 'CBSA CODE', 'CBSA LSAD']]

In [16]:
newdata[:5]

    ZIP5 CBSA CODE                      CBSA LSAD
0  04841     40500  Micropolitan Statistical Area
1  04843     40500  Micropolitan Statistical Area
2  04846     40500  Micropolitan Statistical Area
3  04847     40500  Micropolitan Statistical Area
4  04848       NaN                            NaN

[5 rows x 3 columns]

In [19]:
newdata.to_csv("ZipToCBSA.csv")