In [8]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
data = pd.read_csv("zip07_cbsa06.txt", sep = ",", dtype="str")

In [10]:
data[:10]

,ZIP5,ZIP4,ZIP9,STATE CODE,STATE,COUNTY CODE,COUNTY NAME,CBSA CODE,CBSA TITLE,CBSA LSAD,METRO DIVISION CODE,METRO DIVISION TITLE,METRO DIVISION LSAD,CSA CODE,CSA TITLE,CSA LSAD
0,04841,NaN,04841,23,ME,013,Knox County,40500,"Rockland, ME",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN,NaN
1,04843,NaN,04843,23,ME,013,Knox County,40500,"Rockland, ME",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN,NaN
2,04846,NaN,04846,23,ME,013,Knox County,40500,"Rockland, ME",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN,NaN
3,04847,NaN,04847,23,ME,013,Knox County,40500,"Rockland, ME",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN,NaN
4,04848,NaN,04848,23,ME,027,Waldo County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,04849,NaN,04849,23,ME,027,Waldo County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,04850,NaN,04850,23,ME,027,Waldo County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,04851,NaN,04851,23,ME,013,Knox County,40500,"Rockland, ME",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN,NaN
8,04852,NaN,04852,23,ME,015,Lincoln County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,04853,NaN,04853,23,ME,013,Knox County,40500,"Rockland, ME",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
newdata = data[['ZIP5', 'CBSA CODE', 'CBSA LSAD']]

In [9]:
newdata[:200]

      ZIP5 CBSA CODE                      CBSA LSAD
0    04841     40500  Micropolitan Statistical Area
1    04843     40500  Micropolitan Statistical Area
2    04846     40500  Micropolitan Statistical Area
3    04847     40500  Micropolitan Statistical Area
4    04848       NaN                            NaN
5    04849       NaN                            NaN
6    04850       NaN                            NaN
7    04851     40500  Micropolitan Statistical Area
8    04852       NaN                            NaN
9    04853     40500  Micropolitan Statistical Area
10   04854     40500  Micropolitan Statistical Area
11   04855     40500  Micropolitan Statistical Area
12   04856     40500  Micropolitan Statistical Area
13   04858     40500  Micropolitan Statistical Area
14   04859     40500  Micropolitan Statistical Area
15   04860     40500  Micropolitan Statistical Area
16   04861     40500  Micropolitan Statistical Area
17   04862     40500  Micropolitan Statistical Area
18   04863     40500  Micropolitan Statistical Area
19   04864     40500  Micropolitan Statistical Area
20   04865     40500  Micropolitan Statistical Area
21   04901     12300  Micropolitan Statistical Area
22   04903     12300  Micropolitan Statistical Area
23   04910     12300  Micropolitan Statistical Area
24   04911       NaN                            NaN
25   04911       NaN                            NaN
26   04911       NaN                            NaN
27   04911       NaN                            NaN
28   04911       NaN                            NaN
29   04911       NaN                            NaN
30   04911       NaN                            NaN
31   04911       NaN                            NaN
32   04911       NaN                            NaN
33   04911       NaN                            NaN
34   04911       NaN                            NaN
35   04911       NaN                            NaN
36   04911       NaN                            NaN
37   04911       NaN                            NaN
38   04911       NaN                            NaN
39   04911       NaN                            NaN
40   04911       NaN                            NaN
41   04911       NaN                            NaN
42   04911       NaN                            NaN
43   04911       NaN                            NaN
44   04911       NaN                            NaN
45   04911       NaN                            NaN
46   04911       NaN                            NaN
47   04911       NaN                            NaN
48   04911       NaN                            NaN
49   04911       NaN                            NaN
50   04911       NaN                            NaN
51   04911       NaN                            NaN
52   04911       NaN                            NaN
53   04911       NaN                            NaN
54   04911       NaN                            NaN
55   04911       NaN                            NaN
56   04911       NaN                            NaN
57   04911       NaN                            NaN
58   04911       NaN                            NaN
59   04911       NaN                            NaN
60   04911       NaN                            NaN
61   04911       NaN                            NaN
62   04911       NaN                            NaN
63   04911       NaN                            NaN
64   04911       NaN                            NaN
65   04911       NaN                            NaN
66   04911       NaN                            NaN
67   04911       NaN                            NaN
68   04911       NaN                            NaN
69   04911       NaN                            NaN
70   04911       NaN                            NaN
71   04911       NaN                            NaN
72   04911       NaN                            NaN
73   04911       NaN                            NaN
74   04911       NaN                            NaN
75   04911       NaN                            NaN
76   04911       NaN                            NaN
77   04911       NaN                            NaN
78   04911       NaN                            NaN
79   04911       NaN                            NaN
80   04911       NaN                            NaN
81   04911       NaN                            NaN
82   04911       NaN                            NaN
83   04911       NaN                            NaN
84   04911       NaN                            NaN
85   04912       NaN                            NaN
86   04915       NaN                            NaN
87   04917     12300  Micropolitan Statistical Area
88   04918     12300  Micropolitan Statistical Area
89   04920       NaN                            NaN
90   04921       NaN                            NaN
91   04922       NaN                            NaN
92   04923       NaN                            NaN
93   04923       NaN                            NaN
94   04923       NaN                            NaN
95   04923       NaN                            NaN
96   04923       NaN                            NaN
97   04923       NaN                            NaN
98   04923       NaN                            NaN
99   04923       NaN                            NaN
100  04923       NaN                            NaN
101  04924       NaN                            NaN
102  04925       NaN                            NaN
103  04926     12300  Micropolitan Statistical Area
104  04927     12300  Micropolitan Statistical Area
105  04928     12620  Metropolitan Statistical Area
106  04929       NaN                            NaN
107  04930     12620  Metropolitan Statistical Area
108  04930     12620  Metropolitan Statistical Area
109  04930     12620  Metropolitan Statistical Area
110  04930     12620  Metropolitan Statistical Area
111  04930     12620  Metropolitan Statistical Area
112  04930     12620  Metropolitan Statistical Area
113  04930     12620  Metropolitan Statistical Area
114  04930     12620  Metropolitan Statistical Area
115  04930     12620  Metropolitan Statistical Area
116  04930     12620  Metropolitan Statistical Area
117  04930     12620  Metropolitan Statistical Area
118  04930     12620  Metropolitan Statistical Area
119  04930     12620  Metropolitan Statistical Area
120  04930     12620  Metropolitan Statistical Area
121  04930     12620  Metropolitan Statistical Area
122  04930     12620  Metropolitan Statistical Area
123  04930     12620  Metropolitan Statistical Area
124  04930     12620  Metropolitan Statistical Area
125  04930     12620  Metropolitan Statistical Area
126  04930     12620  Metropolitan Statistical Area
127  04930     12620  Metropolitan Statistical Area
128  04930     12620  Metropolitan Statistical Area
129  04930     12620  Metropolitan Statistical Area
130  04930     12620  Metropolitan Statistical Area
131  04930     12620  Metropolitan Statistical Area
132  04930     12620  Metropolitan Statistical Area
133  04930     12620  Metropolitan Statistical Area
134  04930     12620  Metropolitan Statistical Area
135  04930     12620  Metropolitan Statistical Area
136  04930     12620  Metropolitan Statistical Area
137  04930     12620  Metropolitan Statistical Area
138  04930     12620  Metropolitan Statistical Area
139  04930     12620  Metropolitan Statistical Area
140  04930     12620  Metropolitan Statistical Area
141  04930     12620  Metropolitan Statistical Area
142  04930     12620  Metropolitan Statistical Area
143  04930     12620  Metropolitan Statistical Area
144  04930     12620  Metropolitan Statistical Area
145  04930     12620  Metropolitan Statistical Area
146  04930     12620  Metropolitan Statistical Area
147  04930     12620  Metropolitan Statistical Area
148  04930       NaN                            NaN
149  04930     12620  Metropolitan Statistical Area
150  04930     12620  Metropolitan Statistical Area
151  04930     12620  Metropolitan Statistical Area
152  04930     12620  Metropolitan Statistical Area
153  04930     12620  Metropolitan Statistical Area
154  04930     12620  Metropolitan Statistical Area
155  04930     12620  Metropolitan Statistical Area
156  04930     12620  Metropolitan Statistical Area
157  04930     12620  Metropolitan Statistical Area
158  04930     12620  Metropolitan Statistical Area
159  04930     12620  Metropolitan Statistical Area
160  04930     12620  Metropolitan Statistical Area
161  04930     12620  Metropolitan Statistical Area
162  04930     12620  Metropolitan Statistical Area
163  04930     12620  Metropolitan Statistical Area
164  04930     12620  Metropolitan Statistical Area
165  04930     12620  Metropolitan Statistical Area
166  04930     12620  Metropolitan Statistical Area
167  04930     12620  Metropolitan Statistical Area
168  04930     12620  Metropolitan Statistical Area
169  04930     12620  Metropolitan Statistical Area
170  04930     12620  Metropolitan Statistical Area
171  04930     12620  Metropolitan Statistical Area
172  04930     12620  Metropolitan Statistical Area
173  04930     12620  Metropolitan Statistical Area
174  04930     12620  Metropolitan Statistical Area
175  04930     12620  Metropolitan Statistical Area
176  04930     12620  Metropolitan Statistical Area
177  04930     12620  Metropolitan Statistical Area
178  04930     12620  Metropolitan Statistical Area
179  04930     12620  Metropolitan Statistical Area
180  04930     12620  Metropolitan Statistical Area
181  04930     12620  Metropolitan Statistical Area
182  04930     12620  Metropolitan Statistical Area
183  04930     12620  Metropolitan Statistical Area
184  04930     12620  Metropolitan Statistical Area
185  04930     12620  Metropolitan Statistical Area
186  04930     12620  Metropolitan Statistical Area
187  04930     12620  Metropolitan Statistical Area
188  04930     12620  Metropolitan Statistical Area
189  04930     12620  Metropolitan Statistical Area
190  04930     12620  Metropolitan Statistical Area
191  04930     12620  Metropolitan Statistical Area
192  04930     12620  Metropolitan Statistical Area
193  04930     12620  Metropolitan Statistical Area
194  04930     12620  Metropolitan Statistical Area
195  04930     12620  Metropolitan Statistical Area
196  04930     12620  Metropolitan Statistical Area
197  04930     12620  Metropolitan Statistical Area
198  04930     12620  Metropolitan Statistical Area
199  04930     12620  Metropolitan Statistical Area

[200 rows x 3 columns]

As you can see, there is a ridiculous number of repetitions in `newdata` above, because we've filtered out many of the columns that would otherwise make entries unique. We'll now reduce `newdata` to a df of *unique* rows.

In [11]:
len(newdata)

2820093

In [12]:
newdata.drop_duplicates(inplace=True)
len(newdata)

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame
  if __name__ == '__main__':

49289

In [13]:
# nice improvement! 98.25% deletion!
newdata[:10]

    ZIP5 CBSA CODE                      CBSA LSAD
0  04841     40500  Micropolitan Statistical Area
1  04843     40500  Micropolitan Statistical Area
2  04846     40500  Micropolitan Statistical Area
3  04847     40500  Micropolitan Statistical Area
4  04848       NaN                            NaN
5  04849       NaN                            NaN
6  04850       NaN                            NaN
7  04851     40500  Micropolitan Statistical Area
8  04852       NaN                            NaN
9  04853     40500  Micropolitan Statistical Area

[10 rows x 3 columns]

In [14]:
newdata.to_csv("ZipToCBSA.csv", index=False)